div {
    font-family: 'Comfortaa', cursive;
}

#side-navbar {
    min-height: 100vh;
    /*position: absolute;*/
}

#nav-box {
    border-radius: 20px;
}

#about {
    /*position: absolute;*/
    border-radius: 20px;
    /*display: none;*/

}

#scroll {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#project {
    /*position: absolute;*/
    display: none;
}

#cv {
    /*position: absolute;*/
    display: none;

}

#cv-pref {
    height: 60vh;

}


#contact {
    /*position: absolute;*/
    display: none;

}

iframe {
    min-height: 60vh;
    min-width: 76vw;
}

















