body {
}

div {
    font-family: 'Comfortaa', cursive;
}

#side-navbar {
    min-height: 100vh;
    position: absolute;
}

#nav-box {
    border-radius: 20px;
}

#top-nav {
    display: none;
}

#about {
    /*position: absolute;*/
    border-radius: 20px;
    /*display: none;*/

}

#scroll {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content1, #content2, #content3 {
    position: relative;
}

#content1{
    margin-top: 512px;
}

#project {
    /*position: absolute;*/
    display: none;
}

#cv {
    display: none;

}

#cv-pref {
    height: 60vh;

}

#contact {
    /*position: absolute;*/
    display: none;

}

iframe {
    min-height: 60vh;
    width: 76vw;
}


@media (max-width: 768px) {
    #nav-box{
        position: absolute;
        display:none;
    }

    #top-nav {
        display: block;
        position: absolute;
    }

    #top-nav-box {
        border-radius: 20px;

    }

    #content{
        padding: 32px;
        padding-top: 100px;
    }
}














