body {
  color: rgb(75, 75, 75);
}

a {
  text-decoration: none;
}

/* navbar */

#navigation-bar {
  border-radius: 25px;
}

/* main */

#main {
  padding-top: 225px;
  height: 650px;

}

.social-media {
  border-radius: 25px;
  width: fit-content;
}

.name {
  font-size: 64px;
  font-weight: bolder;
}

#about-button {
  margin-top: 185px;
}

/* about me */


#about {
  border-radius: 20px;
}

.profile-picture {
  border-radius: 10px;
}

#project-button {
  margin-top: -28px;
}

/* project */

#project {
  padding-top: 64px;
  margin-bottom: 156px;
}

/* footer */

footer {
  height: 156px;
  padding-top: 64px;
}
